@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    background-color: #2d3b51;
    color: #e3e3e3;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
}

nav > span {
    margin-left: 15px;
}

main {
    margin-left: 15px;
    margin-top: 15px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    width: max-content;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

hr {
    grid-column: span 13;
    width: 100%;
    margin: 0;
}

.main, .alts, .row, .header {
    display: contents;
}

.row > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header > div:not(.note) {
    cursor: pointer;
}

.row > div:not(.name):not(.rank):not(.note), .header > div:not(.name):not(.rank):not(.note) {
    justify-content: flex-end;
    text-align: right;
}

.row > .note > .empty, .row > .dungeons > .empty {
    margin: 0 auto;
}

.row > .class *, .discord, .civil {
    margin: 0 auto;
}

.header > .rke, .header > .rrhm, .header > .trnm, .header > .aanm, .header > .rknm {
    text-align: center !important;
}

.row span {
    height: max-content;
}

.down {
    transform: rotate(0.5turn);
}

.content {
    display: flex;
    align-items: center;
}

.faded {
    filter: grayscale(90%);
}

.content span {
    font-weight: bold;
}

.content img {
    margin-right: 4px;
}

.content img:not(:first-of-type) {
    margin-left: 4px;
}

div img {
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
}

.hidden {
    display: none;
}

main > .row:nth-child(1) > div {
    position: sticky;
}

.alts > .row > div:first-of-type {
    grid-column: span 2;
}


.alts > .row > div:nth-of-type(1) > span {
    margin-left: 25px;
}

.img-container {
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.img-container:not(:last-of-type) {
    margin-right: 10px;
}

.img-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container > img {
    opacity: 0.8;
}

.dungeons > .content{
    margin: 0 auto;
}


.filter > span {
    width: 100px;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #2d3b51;
    padding: 0 7px;
}

.dropdown span {
    width: 100%;
}

.dropdown > li:not(:first-child) {
    display: none;
}


.dropdown > li {
    display: flex;
}

.dropdown:hover > li {
    display: flex;
}


li .dropdown2 {
    flex-direction: column;
    position: absolute;
    display: none;
    background-color: #27465e;
    padding: 0 7px;
}

.dropdown > li:hover > span {
    color: #0075d6;
}

.dropdown > li li:hover {
    color: #0075d6;
}

li:hover .dropdown2 {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
}

.option, .alter, .name > img, .row > .dungeons, .row > .note, .discord > img, .civil > img {
    cursor: pointer;
}