body {
    margin: 0;
    background-color: #353c47;
    color: #b0b1b2;
    font-size: 20px;
}

main {
    display: grid;
    width: max-content;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.row {
    display: contents;
}

.row > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 6px 0 4px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

.row:nth-of-type(1) > div {
    font-weight: bold;
}

.row > div > span {
    height: max-content;
}

.row:nth-of-type(2n) > div {
    background: #434f60;
}


div img {
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
}

.visible .empty {
    display: none;
}

.hidden .content {
    display: none;
}